nav.main-nav {
  background-color: #000;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  align-items: center;

  .nav-logo-container {
    display: flex;
    column-gap: 5px;
    height: 50px;

    span {
      color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  ul {
    padding-right: 60px;

    display: flex;
    column-gap: 40px;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;

    li {
      a {
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 100;
        color: rgb(185, 185, 185);

        &.active {
          color: rgb(201, 0, 50);
        }
      }
    }
  }

  .new-message-counter {
    text-decoration: none;

    div {
      padding: 0 10px;
      background-color: rgb(201, 0, 50);
      border-radius: 50px;
      position: relative;
      display: flex;
      align-items: center;
      color: #000;

      justify-content: center;
      animation: pulse 2s ease 0s infinite normal forwards;

      span {
        font-size: 1.4rem;
      }

      img {
        max-height: 40px;

        object-fit: contain;
      }
    }
  }
}

@keyframes pulse {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
